<div class="container mt-5">
  <div class="row">
    <div class="d-block">
      <h1 class="mb-4">Modelos Prontos ou Personalizados</h1>
      <p>{{ p1 }}</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mb-4">
      <div class="d-flex justify-content-center">
        <img src="{{ frame }}" alt="teste" class="img-fluid d-md-none">
        <img src="{{ frame }}" alt="teste" class="frame d-none d-md-block">
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="{{ hotsites }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ hotsites }}" alt="hotsites" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>HOT SITE</h1>
        <p class="mt-3">{{ p2 }}</p>
        <h2 class="mt-5">De {{ prices[0][0] | currency: "BRL" }} até {{ prices[0][1] | currency: "BRL" }}</h2>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="{{ landingpages }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ landingpages }}" alt="landing-pages" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>LANDING PAGES</h1>
        <p class="mt-3">{{ p3 }}</p>
        <h2 class="mt-5">De {{ prices[1][0] | currency: "BRL" }} até {{ prices[1][1] | currency: "BRL" }}</h2>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <img src="{{ catalog }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ catalog }}" alt="catalog" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>CATÁLOGO DE PRODUTOS</h1>
        <p class="mt-3">{{ p4 }}</p>
        <h2 class="mt-5">De {{ prices[2][0] | currency: "BRL" }} até {{ prices[2][1] | currency: "BRL" }}</h2>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <img src="{{ sites }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ sites }}" alt="site" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>SITE</h1>
        <p class="mt-3">{{ p5 }}</p>
        <h2 class="mt-5">De {{ prices[3][0] | currency: "BRL" }} até {{ prices[3][1] | currency: "BRL" }}</h2>
      </div>
    </div>
  </div>
</div>
