<div class="container mt-5">
  <div class="row">
    <div class="d-block">
      <h1 class="mb-4">Modelos Prontos ou Personalizados</h1>
      <p>{{ p1 }}</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mb-5">
      <div class="d-flex justify-content-center">
        <img src="{{ frame }}" alt="teste" class="img-fluid d-md-none">
        <img src="{{ frame }}" alt="teste" class="frame d-none d-md-block">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="{{ hotsites }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ hotsites }}" alt="hotsites" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>HOT SITE</h1>
        <p>{{ p2 }}</p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="{{ landingpages }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ landingpages }}" alt="landing-pages" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>LANDING PAGES</h1>
        <p>{{ p3 }}</p>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <img src="{{ catalog }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ catalog }}" alt="catalog" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>CATÁLOGO DE PRODUTOS</h1>
        <p>{{ p4 }}</p>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <img src="{{ sites }}" alt="hotsites" class="img-fluid d-md-none"/>
      <img src="{{ sites }}" alt="site" class="site-option d-none d-md-block"/>
    </div>
    <div class="col-md-6">
      <div class="d-block mt-4 mt-md-0">
        <h1>SITE</h1>
        <p>{{ p5 }}</p>
      </div>
    </div>
  </div>
</div>
