<div class="container-fluid footer1 mt-4">
  <div class="d-flex justify-content-center align-items-center footer1">
    <h1>ENTRE EM CONTATO CONOSCO</h1>
  </div>
</div>
<div class="container-fluid footer2">
  <div class="p-2 py-4 p-md-5">
      <h5 class="text-light mt-2">
        <strong>Telefone:</strong> (11) 99991-9604
      </h5>

      <h5 class="text-light mt-4">
        <strong>Instagram:</strong> @ascencio_tech
      </h5>
      <h5 class="text-light mt-4">
        <strong>E-mail:</strong> matheus.z.ascencio@gmail.com
      </h5>
  </div>
</div>
