@import ../../../styles

.footer1
  background: rgba(45, 128, 45, 1)
  background-size: 16vh
  height: 16vh

.footer2
  background: rgba(31, 100, 31, 1)
  background-size: 25vh
  height: 28vh

#instagram
  width: 1.2vw
  color: #ffffff


