<div class="navbar1" NavbarScroll>
  <div class="container text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-end justify-content-lg-end">

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center justify-content-sm-end my-sm-0 text-small">

        <li>
          <a routerLink="/home" class="nav-link text-white" [class.active]="active == 'home'" (click)="setActive('home');">
            <i class="bi bi-house  d-block mx-auto mb-1 icon"></i>
            Inicio
          </a>
        </li>

        <li>
          <a href="/sites" class="nav-link text-white" [class.active]="active == 'sites'" (click)="setActive('sites');">
            <i class="bi bi-brush d-block mx-auto mb-1 icon"></i>
            Sites
          </a>
        </li>

        <li>
          <a href="/pc" class="nav-link text-white" [class.active]="active == 'sites'" (click)="setActive('pc');">
            <i class="bi bi-pc-display d-block mx-auto mb-1 icon"></i>
            PCs
          </a>
        </li>

        <!-- <li>
          <a routerLink="/solar" class="nav-link text-white" [class.active]="active == 'solar'" (click)="setActive('solar');">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-brightness-alt-high d-block mx-auto mb-1 icon" viewBox="0 0 16 16">
              <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4zm0 1a3 3 0 0 1 2.959 2.5H5.04A3 3 0 0 1 8 8z"/>
            </svg>
            Energia Solar
          </a>
        </li> -->

      </ul>
    </div>
  </div>
</div>
